body {
   align-items: center;
   align-content: center;
   background-color: #faf3e0;
}

h1 {
   font-size: 32px;
   color: #0077b6;
   text-align: center;
}

form {align-items: center;
   margin: 15px;
   padding: 10px;
   border-radius: 10px;
   background-color: #ffff;
}
p{
   color: #2c3e50;
   font-family:Arial, Helvetica, sans-serif;
}
select{
   border-color: #eaeaea;
   border-radius: 1px;
}
input{
   border-color:#eaeaea;
   border-radius: 1px;
}
.envio{
   background-color: #0077b6;
   text-align: center;
   color: white;
}
img{
   align-content: center;
}
